{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻中心</title>
      <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">

</head>
<body>
<div class="container">
<h1>新闻中心</h1>
<ul>
    {% for item in news_list %}
    <li>{{item.news_title}}-发布时间:{{item.post_time}} <a href="http://www.chinaunicom.com.cn{{item.news_link}}">阅读</a></li>
    {% endfor %}
</ul>

<script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</div>
</body>
</html>